# Makefile for libbasic_objects
# Copyright (C) 2018 Sergey Kolevatov

###################################################################

VER = 0

LIB_PROJECT = basic_objects

LIB_BOOST_LIB_NAMES :=

LIB_SRCC = \
	validator.cpp \
	csv_helper.cpp \
	dummy_creator.cpp \
	converter.cpp \
	parser.cpp  \
	str_helper.cpp \

LIB_EXT_LIB_NAMES = \
	utils \
	basic_parser \
